# log
*.log
column-LOG.txt
log.txt
UnitCtl.ini
UnitCtl_C.ini
tmp-Addn.txt

# ETBAS Output
*.$ET
*.$og
*.CQC
*.EV
*.F1
*.F3
*.F4
*.ID
*.K
*.K1
*.K3
*.K4
*.L3
*.M1
*.M3
*.M4
*.MAS
*.OUT
*.PAR
*.PPD
*.T3
*.T4
*.U
*.U1
*.V
*.V1
*.W
*.W1
*.XMJ
*.Y1
*.Y3
*.Y4
*.Z1
*.Z3
*.Z4
*.ebk
*.fun
*.jcj
*.job
*.lbl
*.lbm
*.lin
*.mod
*.msh
*.mtl
*.p1m
*.p3
*.p4
*.pde
*.rsi
*.rsp
*.sec
*.sev
*.shs
*.xyz

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
